<%= search_form_for @q do |f| %>
    <div class="container">
      <div class="row justify-content-end">
        <div class="col">
          <%= f.label :member_fname_cont, "Member Name" %>
          <%= f.search_field :member_fname_cont %>
        </div>
        <div class = "col">
          <%= f.submit %>
        </div>
      </div>
    </div>                    
    <% end %>