// Place all the styles related to the lineages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.vl {
    border-left: 3px solid #003366;
    height: 20px;
    margin-left: 50%;
    top: 0;
  }
.box{
  border-style: solid;
  border-color: #003366;
  border-radius: 1.2em;
  margin-left: 25px;
  text-align: center;
  margin-top: 20px;
}